.LovedPage {
    padding-top: 3rem;
    display: inline-block;
    width: 100%;
}

.LovedPage a {
    color: #fff;
}

.LovedPage a:hover {
    color: #000;
}

.LovedPage .page {
    float: left;
}

.LovedPage .actions {
    float: right;
}

.LovedPage .actions button {
    background-color: transparent;
    color: #fff;
    opacity: 0.6;
    font-size: 2rem;
    transition: 0.4s;
}

.LovedPage .actions button:hover {
    opacity: 1;
    cursor: pointer;
}