@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/* cheap reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5a5766;
}

html, body, .App {
  height: 100vh;
}
